/* Custom Scrollbar CSS styling
not used for Theme-03

Date: 01/01/2022
Author: Ravi Swami
*/

::-webkit-scrollbar-track
  {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #0a0f18;
  }

  ::-webkit-scrollbar
  {
    width: 5px;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb
  {
    width: 5px;
    background-color:rgb(255, 255, 255);
  }